<div class="user-item">
  <div *ngFor="let user of users" (click)="onClickUser(user)"
  [ngClass]="{selected:currentUser?.id === user.id}">
    <div>
      id:{{user.id}}
    </div>
    <div>
      username:{{user.userName}}
    </div>
    <div>
      email:{{user.email}}
    </div>
  </div>
  <div *ngIf="currentUser">
    <div>
      <input type="text" [value]="currentUser.email" #emailInput />
    </div>
    <div>
      <input type="text" [value]="currentUser.userName" #nameInput />
    </div>
    <div>
      <button (click)="saveUserData(emailInput.value, 
    nameInput.value)">Save</button>
    </div>
  </div>
</div>